<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script defer src="javascripts/scripts.js"></script> 
  <title>Borrow Buddy</title>
</head>
<body>

  <div id="menuDemo">
    <!--start CssMenu-->
    <div class="menu-icon-wrapper">
      <div class="menu-icon" onclick="toggleCssMenu(this)">
        <div class="three-line">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <div id="cssmenu">
        <ul>
            <li><a href="#">Available Items</a></li>
            <li><a href="#">Creative</a></li>
            <li><a href="#">Studio</a></li>
            <li><a href="#">Press</a></li>
            <li><a href="#">Contact</a></li>
    
            <% if (user) { %>
                <li><a href="/items" class="active">AVAILABLE ITEMS</a></li>
                <li><a href="/items" class="active">MY BORROWED ITEMS</a></li>
                <li><a href="/items/new" class="active">ADD ITEM</a></li>
                <li><a href="/logout">LOGOUT</a></li>
            <% } else { %>
                <li><a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"</a></li>
                <li><a href="/items" class="active">AVAILABLE ITEMS</a></li>
            <% } %>
        </ul>
    </div>
    
 
