<%- include('../partials/header', { title: 'Available Items' }) %>

<section><!--for demo wrap-->
    <h1>ABOUT</h1>
    <div class="">
        This page is a work in progress as I learn more and refine my skills. 
        I am including a link to my Trello board so that you can see my Icebox items, as well
        as my progress. Please also check out my README on GitHub where I explain my project in 
        detail and provide source.
        </div>


<%- include('../partials/footer') %>