<%- include('../partials/header') %>

<h1>ADD NEW ITEM</h1>
<div class="div3">
<form id="new-form" action="/items" method="POST">
  <div><label>Item:</label>
    <br><input type="text" name="item">
  </div>
  <div>
    <label>Brand: </label>
    <br><input type="text" name="brand">
  </div>
  <div>
  <label>Category:</label>
  <br><select name="category">
      <option value="Tools">Tools</option>
      <option value="Kitchen">Kitchen</option>
      <option value="Lawn & Garden">Lawn & Garden</option>
      <option value="Gym">Gym</option>
      <option value="Crafting">Crafting</option>
      <option value="Entertainment">Entertainment</option>
      <option value="Books">Books</option>
      <option value="Kids Items">Kids Items</option>
      <option value="Other">Other</option>
    </select>
  </div>
  <div>
  <label>Owner:</label>
  <br><input type="text" name="owner">
  </div>
  <div>
  <label>Borrow:</label>
  <br><select name="borrow">
    <option value="7Days">7 Days</option>
    <option value="14Days">14 Days</option>
    <option value="21Days">21 Days</option>
  </select>
  </div>
<div>
  <br><label for="img">Choose Item Image:</label>
  <input type="file" id="img" name="img" accept="image/png, image/jpeg">
</div>
  

<br> <input type="submit" value="Add Item" id="input-submit">
</form>
</div>
<%- include('../partials/footer') %>