<%- include('../partials/header') %>

<h2>Enter a New Item</h2>
<form action="/items" method="POST">
  <label>Item:
    <input type="text" name="item">
  </label><br>

  <label>Brand:
    <input type="text" name="brand">
  </label><br>

  <label>Category:
    <select name="category">
      <option value="tools">Tools</option>
      <option value="kitchen">Kitchen</option>
      <option value="lawnGarden">Lawn & Garden</option>
      <option value="gym">Gym</option>
      <option value="crafting">Crafting</option>
      <option value="entertainment">Entertainment</option>
      <option value="books">Books</option>
      <option value="kidsItems">Kids Items</option>
      <option value="other">Other</option>
    </select>
  </label><br>

  <label>Owner:
    <input type="text" name="owner">
  </label><br>

  <label>Length of Allow Borrow Time:
    <input type="number" id="borrowTime" name="borrowTime" min="1"> weeks
  </label><br>

  <input type="submit" value="Add Item">
</form>

<%- include('../partials/footer') %>